<% include ../partials/headersub %>
    <div id="main" class="container">
        <h2><%=place.topic%></h2>
        <img src="<%= place.image %>" alt="">
        <hr>
        <div>
            <%= place.describe %>
        </div>
        <hr>
        
        <% place.comments.forEach(function(comment){ %>
            <div class="self">
                <div class="content">
                    <header class="align-left">
                        <h2>
                            <%= comment.author %>
                        </h2>
                        
                    </header>
                    <p>- <%= comment.text %></p>
                    <header class="align-right">10 days ago</span>
                </div>
                
            </div>
        <% })  %>
        <hr>
        <a href="/<%= place._id %>/comments/new" class="button alt">COMMENT</a>
        
    </div>

<% include ../partials/footer %>